{{> header}}

 <div class="card mx-auto mt-5" style="width: 18rem;">
  <div class="card-body mx-auto">
    <h5 class="card-title">Weather service</h5>
    <a href="/weather" class="btn btn-primary">Go to weather</a>
  </div>
</div>

{{> footer}}
